$date-color: #333;
$disabled-color: #ccc;

$arrow-color: #333;
$arrow-disabled: #ccc;

$col-color: #f3f9ff;

$data-active: #1996f9;

$choice-color: #f04;

$text-color: #1996f9;

$today-color: #1996f9;

$new-color: #333;

$write: #fff;
